[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
striprtf = "*"
openai = "*"
python-dotenv = "*"
pandas = "*"
openpyxl = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.11"
